<div class="container col p-0 pt-3">
  <div class="card">
    <div class="card-body">

      <h3 class="">Branch/Commit name fixer</h3>

      <div class="row">

        <div class="col">
          <div class="card">
            <div class="card-body p-2">
              <p class="card-text mb-2">Source Case</p>
              <div class="form-group">

                <!-- firstlower -->
                <!-- <div class="custom-control custom-switch mb-2">
                  <input [(ngModel)]="fullAuto" type="checkbox" class="custom-control-input" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Toggle full auto ;] - convert and copy to clipboard</label>
                </div> -->


                <div *ngFor="let item of casesArray;let i = index" class="custom-control custom-radio mb-2" (click)="setSourceCase(item)">
                  <input type="radio" class="custom-control-input" id="Radio{{i}}" name="inlineDefaultRadiosExample">
                  <label class="custom-control-label" for="customRadio1">{{item}}</label>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="col-7 pl-1">
          <div class="card">
            <div class="card-body p-2">
              <div class="form-group">
                <label for="" class="mb-0">Source Content</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="convertCase()">
                      <i class="fas fa-exchange-alt"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                      (click)="copyInputMessageToClipboard(sourceContentInput)">
                      <i class="fas fa-copy"></i>
                    </button>
                  </div>

                  <textarea #sourceContentInput [(ngModel)]="sourceContent" type="text" class="form-control" name="sourceContent" id="sourceContent"
                    aria-describedby="sourceContent" placeholder="sourceContent" value="" (paste)="pasteFromClipboard($event)" (click)="convertCase()"
                    rows="4"></textarea>

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="convertCase()">
                      <i class="fas fa-exchange-alt"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                      (click)="copyInputMessageToClipboard(sourceContentInput)">
                      <i class="fa fa-copy    "> </i>
                    </button>
                  </div>
                </div>



                <label for="" class="mb-0">Target Content</label>
                <div class="input-group mb-3">

                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                      (click)="copyInputMessageToClipboard(targetContentInput)">
                      <i class="fas fa-copy"></i>
                    </button>
                  </div>

                  <textarea #targetContentInput [(ngModel)]="targetContent" type="text" class="form-control" name="targetContent" id="targetContent"
                    aria-describedby="targetContent" placeholder="targetContent" value="" rows="4"></textarea>

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                      (click)="copyInputMessageToClipboard(targetContentInput)">
                      <i class="fa fa-copy    "> </i>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body p-2">
              <p class="card-text mb-2">Target Case</p>
              <div class="form-group">

                <!-- firstlower -->
                <!-- <div class="custom-control custom-switch mb-2">
                  <input [(ngModel)]="fullAuto" type="checkbox" class="custom-control-input" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Toggle full auto ;] - convert and copy to clipboard</label>
                </div> -->


                <div *ngFor="let item of casesArray;let i = index" class="custom-control custom-radio mb-2" (click)="setTargetCase(item)">
                  <input type="radio" class="custom-control-input" id="Radio{{i}}" name="inlineDefaultRadiosExample">
                  <label class="custom-control-label" for="customRadio1">{{item}}</label>
                </div>


              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="col p-0 pt-3">
        <button type="submit" class="btn btn-block btn-primary btn-lg" (click)="convertCase()">Convert Case</button>
      </div>

    </div>
  </div>

</div>
