<div class="col p-0 pt-4">
  <div class="card">
    <div class="card-body p-2">


      <div class="form-group">

        <div class="custom-control custom-switch mb-2">
          <input [(ngModel)]="fullAuto" type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Toggle full auto ;] - convert and copy to clipboard</label>
        </div>

        <label for="">standard Guid/UUID</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="guidToHex(guid)">
              <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="copyInputMessageToClipboard(guidInput)">
              <i class="fas fa-copy"></i>
            </button>
          </div>

          <input #guidInput [(ngModel)]="guid" type="text" class="form-control" name="guid" id="guid" aria-describedby="helpId" placeholder="guid"
            value="" (paste)=" pasteGuidToClipboard($event)">

          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="guidToHex(guid)">
              <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="copyInputMessageToClipboard(guidInput)">
              <i class="fa fa-copy    "> </i>
            </button>
          </div>
        </div>

        <label for="">Hex</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="hexToGuid(guid)">
              <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="copyInputMessageToClipboard(hexInput)"> <i
                class="fa fa-copy    "> </i></button>
          </div>

          <input #hexInput [(ngModel)]="hex" type="text" class="form-control" name="hex" id="hex" aria-describedby="helpId" placeholder="hex" value=""
            (paste)="pasteHexToClipboard(hexInput)">

          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="hexToGuid(guid)">
              <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="copyInputMessageToClipboard(hexInput)"> <i
                class="fa fa-copy    "> </i></button>
          </div>
        </div>


      </div>


      <div class="col p-0 pt-3 d-flex">
        <button type="submit" class="flex-fill btn btn-primary btn-lg " (click)="guidToHex(guid)">Guid2Hex</button>
        <button type="submit" class="flex-fill btn btn-primary btn-lg ml-3" (click)="hexToGuid(hex)">Hex2Guid</button>
      </div>

      <!-- <div class="col p-0 pt-3">
        <div class="card">
          <div class="card-body p-2">
            <p class="card-text mb-2">multiple <code>space</code>, characters:</p>
          </div>
        </div>
      </div> -->

    </div>
  </div>

</div>
