.card {
  background-color: #808b9847;
  color: #adb5bd;
}

.alert{
  color: hsla(244, 36%, 67%, 1);
  background-color: #7a7ac45e;
  border: none;
}

.btn {
  background-color: hsla(242, 18%, 63%, 0.4);
  color: hsla(238, 41%, 76%, 1);
}

.btn:hover {
  background-color: hsla(242, 90%, 28%, 0.637);
  color: hsla(238, 41%, 76%, 1);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: hsla(242, 86%, 43%, 0.63);
  color: #a9aadb;
}
